@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100 font-sans transition-colors duration-200 antialiased;
  }
}

/* Hide scrollbar for category horizontal scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Leaflet Map Pin styling */
.custom-user-pin, .custom-shop-pin, .custom-courier-pin, .custom-dest-pin {
  background: transparent;
  border: none;
}
